# Python cache files
__pycache__/
*.pyc

# Local autosave game files
autosave.pgn

# OS metadata
.DS_Store
Thumbs.db

#test file for eval
test_eval.py

#dist,build folder
dist
build

# Chess Engine Binaries
assets/bin/
